.container{
    display: flex;
    list-style: none;
    padding: 0;
}

.linkItem {
    padding: 10px 30px;
    border: 1px solid black;
}

.linkItem a{
    color: black;
}

.linkItem a:hover{
    text-decoration: none;
    font-weight: 600;
}

.linkActive a{
    color: red;
    transition: 1s all;
}